.nav-item a{
text-decoration: none;
color: rgb(128, 124, 124);
margin: 10px 20px 0 0;
font-size: 20px;

}
.categories{
    display: flex;
    margin-top: 18px;
}
.categories li a:hover{
    color: rgb(241, 239, 239);
}
.container h1{
    font-size: 50px;
}
.navbar-brand{
    font-size: 40px;
    color: rgb(43, 42, 42);
}
.navbar-brand:hover{
   
}
.position-absolute{
    margin-right: 50px;
}
.navbar-nav{
    margin-left: 100px;

}
.info-badge{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}
.navbar{
    color: gray;
}

.nav-link:hover{
    color: rgb(40, 39, 39);

}
.health{
    color: gray;
}